* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',sans-serif;
}

body{
    background-color: #c3e0e5;
    overflow: scroll;
}

.main {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header{
    height: 60px;
}
.logo{
    display: flex;
}
.logoName{
    text-decoration: none;
    padding: 0;
    color: #274472;
}

.logoName__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.logo__container{
    width: 100px;
    float: left;
    text-decoration: none;
}

#logo {
    width: 100px;
    float: left;
}

.profile{
    display: flex;
    align-items: center;
    justify-self: end;
    margin: 10px;
    color: #274472;
    
}

.empty{
    width: 70%;
}

.profileImg img{
    border: 2px solid #274472;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    margin-left: 20px;

}

/* Navbar */

.navbar {
    list-style-type: none;
    margin-top: 60px;
    padding: 0;
    width: 15%;
    background-color: #274472;
    height: 100%;
    overflow: hidden;
    position: absolute;
    color: #c3e0e5;
    min-width: max-content;
}

.navbar__link {
    text-decoration: none;
    color: #c3e0e5;
    font-size: x-large;
}

.navbar__item {
    margin: 20px 0px 20px 0px;
    padding: 10px;
    transition: background-color 0.001s;
}

.navbar__item:hover {
    background-color: #5885af;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 50px 0px 50px 0px;
}

.navbar a{
    text-decoration: none;
    color: #c3e0e5;
    font-size: x-large;
}

.navbar a.active{
    background-color: #5885af;
    color: #c3e0e5;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

/* Content Area */

.content {
    margin-left: 15%;
    color: #274472;
    overflow: scroll;
}

.titleHead{
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 90%;
  }
  
  td, th {
    border: 2px solid #274472;
    text-align: left;
    padding: 10px;
  }

  th{
    background-color: #5885af;
    color: #c3e0e5;
    font-weight: bold;
  }

/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5885af;
    height: 60px;
    color: #c3e0e5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 1060px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        width: 100%;
        height: 150px;
        margin: 0;
    }

    .navbar__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        margin: 0;
    }

    .navbar__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        margin: 0;
    }

    .navbar__item {
        flex-grow: 1;
    }

    .navbar__item {
        margin: 0px 0px 0px 0px;
        padding: 15px;
    }

    .navbar__link {
        font-size: large;
    }

    .content {
        margin: 0;
    }

    .titleHead {
        margin: 20px 5% 0 5%;
    }

    .footer {
        margin: 0;
    }
}

@media 
only screen and (max-width: 760px){
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
        width: auto;
        font-size: small;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr { 
        border: 2px solid #5885af; 
        
    }
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #5885af; 
		position: relative;
		padding-left: 50%; 
	}
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 5px;
		left: 5px;
		width: 45%; 
		padding-right: 10px; 
	}
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Email"; }
	td:nth-of-type(3):before { content: "Phone Number"; }
	td:nth-of-type(4):before { content: "Date Hired"; }
	td:nth-of-type(5):before { content: "Date Started"; }
	td:nth-of-type(6):before { content: "Progress"; }
	td:nth-of-type(7):before { content: "Feedback Rating"; }
}

